<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Welcome</title>
</head>

<body style="height: 100vh;">
    <div
        style="height: 60%;padding: 0;margin: 0;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;align-items: center;justify-content: center;padding: 40px 70px;">
        <div style="width: auto;height: 100%;">
            <div>
                <div style="margin: 30px 0px;">
                    <h2 style="font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 32px;
                            color: #2DB875;">Hello </h2>
                </div>
                <div style="font-size: 20px; margin: 30px 0px;">
                    <p>You have been added to the ASNL {{team}} group as the {{role}}. Use this password {{password}} to login. Please click on the button bellow to login and change your password</p>
                    <div>
                      <button><a href={{link}}>Login</a></button>
                    </div>
                    <div
                        style="color: rgba(3, 41, 61, 0.8);font-style: normal;margin-top: 85px;font-weight: bold;margin-top: 50px;font-size: 18px;line-height: 25px; margin-bottom: 50px;">
                        <p>Regards... ASNL team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        style="height: 20%;padding: 0;margin: 0;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;align-items: center;justify-content: center;padding: 40px 70px;">
        <div style="width: auto;height: 100%; font-size: 16px;">
            <p> This email was sent to you as a registered member of ASNL. Use of the service and website is
                subject to our <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></p>
            <p style="text-align: center;">© 2021 ASNL. All rights reserved</p>
        </div>
    </div>
</body>

</html>
